.fixed-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
     /* Assuming bg-bg-navy-blue is #1b1e34 */
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    z-index: 1000; /* To ensure it appears above other content */
}

.hidden-audio-box {
    transform: translateY(100%);
    opacity: 0;
}